*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #a686c5 ;
}
.container{
    background-color:#537f8b;
    width: 835px;
    height: 350px;
    margin: 50px auto;
    border-radius: 5px;
    color:#fff;
    padding: 30px 60px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    text-align: center;
}

#txtNumber{
    width: 280px;
    height: 35px;
    border-radius: 2px;
    border: none;
}
#base-from{
    width: 280px;
    height: 35px;
    border-radius: 2px;
}
#base-to{
    width: 280px;
    height: 35px;
    border-radius: 2px;
    margin-left: 80px
    
}
#btnConvert{
    width: 280px;
    height: 35px;
    background-color:#212121;
    color:#fff;
    border-radius: 2px;
    margin-left: 180px;
}
#btnSwap{
    width: 280px;
    height: 35px;
    background-color:#212121;
    color:#fff;
    border: darkseagreen 0px solid;
    border-radius: 2px;
}
#result{
    width: 280px;
    height: 35px;
    border-radius: 2px;
    border: none;
    margin-left : 80px; 
}
#convert-to{
    margin-left:260px
}
#span-result{
    margin-left:240px
}
